:root {
  --slate: #1a1c1d;
  --font-size: base: 16px;
  --teal: #2a9d8f;
  --orange: #f4a261;
  --darkOrange: #e76f51;
  --yellow: #e9c46a;
}

* {
  margin: 0 auto;
  background-color: var(--slate);
  font-family: 'Raleway', sans-serif;
}
#main {
  color: #f4a261;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#headerCtn {
  /* background-image: url(/images/tellydharma_logo.png); */
  background-repeat: no-repeat;
  background-size: 150px;;
  width: 100%;
  height: auto;
  padding: 1%;
}

#logo {
  padding: 1%;
}

@media only screen and (min-width : 640px) {
  #headerCtn {
    background-image: url(/images/tellydharma_cropped.png);
    width: 100%;
  }
}

.episodeCard {
  width: 90%;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 2%;
}

.episodeTitle {
  color: var(--darkOrange);
  padding: 3%;
  border: 1px solid var(--yellow);
  border-radius: 50px;
}

.episodeImg {
  padding: 3%;
}

footer {
  color: var(--yellow);
}

#tv-logo {
  width: 50px;
}